.heart:hover {
  color: var(--primary-color);
  font-size: 20px;
  transition: 0.3s;
}

.fill-heart {
  color: var(--primary-color);
  font-size: 20px;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover {
  background-color: var(--primary-color);
  width: fit-content !important;
  color: white;
  border: none;
}

.btn:disabled {
  background-color: #a99ec5;
  cursor: not-allowed;
}

.comments {
  max-height: calc(50vh - 150px);
  overflow-y: scroll;
}

.comment-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
}

.comment {
  background-color: var(--bg-color);
}

.icons {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.other {
  cursor: pointer;
}

.close-btn,
.close-btn:active,
.close-btn:focus,
.close-btn:hover {
  background-color: rgb(197, 136, 197) !important;
  width: fit-content !important;
  color: white;
  border: none;
  box-shadow: none !important;
}
